{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="text-center">Produits</h1>
    <div class="row g-2">
        {% for card in cards %}
        <div class="col-md-3 mb-3">
            <div class="card position-relative">
                <img src="{{ asset('images/' ~ card.image) }}" class="card-img-top" alt="Card image">
                <button class="btn btn-sm position-absolute top-0 end-0 m-2 shoppingbag"><i class="bi bi-bag-plus"></i></button>
                <div class="card-body">
                    <p class="card-text text-center"> 
                        {% for i in 1..card.star %}
                            <span style="color: #28a745;">★</span>
                        {% endfor %}
                        {% if card.star < 5 %}
                            {% for i in (card.star + 1)..5 %}
                                <span style="color: #ccc;">☆</span>
                            {% endfor %}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
