# =========================
# Symfony / PHP
# =========================

# Environment variables
/.env
/.env.local
/.env.local.php
/.env.*.local

# Symfony secrets
/config/secrets/prod/prod.decrypt.private.php

# Cache, logs, and sessions
/var/
/var/cache/
/var/log/
/var/sessions/

# Vendor dependencies
/vendor/

/public/bundles/
/build/
/node_modules/

# PHPUnit
/phpunit.xml
/.phpunit.result.cache

# Symfony console and bin (keep only necessary files)
/bin/*
!bin/console
!bin/symfony_requirements

# IDE / OS files
/.idea/
/.vscode/
/.DS_Store
Thumbs.db

# Composer PHAR
/composer.phar

# Backup files from Doctrine entities generation
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid.env