<div class="container-fluid p-0 bg-secondary rounded-3 mb-5 text-white">
    <div class="row g-0">
        <!-- left text -->
        <div class="col-md-7 p-4 d-flex flex-column justify-content-start">
            <h1 class="display-4">Our Cheffe</h1>
            <h2 class="h3">Cassia</h2>
            <p class="lead fst-italic">
                "Cooking is the art of transforming simple ingredients into an extraordinary experience. With every dish I create, I aim to tell a story, evoke emotions, and bring people together around the table. My passion for culinary arts is fueled by the joy of sharing delicious food and creating unforgettable moments for my guests."
            </p>
        </div>

        <!-- right image -->
        <div class="col-md-5 p-0">
            <img src="{{ asset('images/cheffe_cassia.jpg') }}" 
                 class="w-100 h-100 object-fit-cover rounded-end" 
                 alt="Chef Cassia">
        </div>
    </div>
</div>