:root {
  --primary-color: #779523;
  --primary-second-color: #9CB25A;
  --secondary-color: #503E2E;
  --secondary-second-color: #AA5612;
  --base-bg-color: #F5F5F5;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-primary-second {
    background-color: var(--primary-second-color) !important;
}

.bg-secondary {
    background-color: var(--secondary-color) !important;
}

.bg-secondary-second {
    background-color: var(--secondary-second-color) !important;
}




body {
    font-family: 'Inter', sans-serif;
    background-color: var(--base-bg-color);
    max-width: 80%; 
    margin: 0 auto; 
    padding: 0 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Sans', sans-serif;
}

.btn:hover {
    background-color: #f0f0f0;
    color: #000;
}

.btn:hover span {
    transform: scale(1.15);
}

.card img{
    height: 250px;
    width: 100%; 
    object-fit: contain;
}

.shoppingbag{
    border-color: #28a745;
    color: #28a745;
}

.shoppingbag:hover{
    border-color: #218839;
    color: #218839;
}

.post-container{
    background-color: var(--primary-second-color);
    height: 400px;
}

.customform{
    background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2712%27 height=%2712%27 fill=%27%236c757d%27 class=%27bi bi-search%27 viewBox=%270 0 16 16%27%3e%3cpath d=%27M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z%27/%3e%3c/svg%3e'); 
    background-position: 15px center; 
    background-repeat: no-repeat; 
    padding-left: 35px;
}