{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="text-center">Produits</h1>
    <div class="row g-2">
        {% for card in cards %}
            {% include 'products/_card.html.twig' with {'card': card} %}
        {% endfor %}
    </div>
</div>
{% endblock %}
