{% extends 'base.html.twig' %}

{% block body %}
<h1>Produits</h1>
<div class="card-container">
    {% for card in cards %}
        <div class="card">
            <button class="favorite-btn">
                <i class="bi bi-heart"></i>
            </button>
            <img src="{{ asset('images/' ~ card.image) }}" alt="{{ card.image }}">
            <p>{{ card.star }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}