{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="text-center">Products</h1>
    <div class="row g-2">
        {% for product in products %}
            {% include 'product/_card.html.twig' with {'card': product} %}
        {% endfor %}
    </div>
</div>
{% endblock %}