{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row align-items-center">
    {# Text first on mobile #}
    <div class="col-12 col-md-6 mb-3 mb-md-0">
        <h1 class="display-5">Bienvenue</h1>
        <p class="lead">Le meilleur restaurant de la ville</p>
        <a href="#menu" class="btn btn-primary btn-lg">Voir le menu</a>
    </div>

    {# Image second on mobile #}
    <div class="col-12 col-md-6 text-center">
        <img src="/images/hero.jpg" class="img-fluid" alt="Restaurant Hero Image">
    </div>
</div>
{% endblock %}